<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-3D70JDRZQ8"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-3D70JDRZQ8");
    </script>
    <meta charset="UTF-8" />
    {{ if .IsHome }}
    <meta property="og:title" content="Rejewski Security Labs" />
    <meta
      property="og:description"
      content="A Hub for Research, Innovation, and Entrepreneurship."
    />
    <meta
      property="og:image"
      content="{{ "meta-logo.png" | absURL }}"
    />
    <meta property="og:url" content="{{ "" | absURL }}" />
    <meta property="og:type" content="article" />
    {{ else }}
    <meta property="og:title" content="{{ .Title }} - Rejewski Security Labs" />
    <meta
      property="og:description"
      content="{{ .Summary }}"
    />
    <meta
      property="og:image"
      content="{{ .Params.image | absURL }}"
    />
    <meta property="og:url" content="{{ "" | absURL }}" />
    <meta property="og:type" content="article" />
    {{ end }}

    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1.0"
    />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{{ .Site.Title }}</title>
  </head>
  <body class="antialiased">
    {{ if not .IsHome }}
    <div class="w-full bg-gray-900">
      {{ block "header" . }} {{ end }}
    </div>
    {{ end}}
    <!-- Code that all your templates share, like a header -->
    {{ block "main" . }}
    <!-- The part of the page that begins to differ between templates -->
    {{ end }}
    {{ if not .IsHome }} 
    <div class="absolute bottom-0 items-center px-4 py-2 text-sm w-full">
      {{ block "footer" . }} {{ end }}
    </div>
    {{ end }}
  </body>
</html>
