<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel=”icon” href="images/favicon.png" type=”image/any-icon”>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{{ .Site.Title }}</title>
  </head>
  <body class="antialiased bg-gray-900">
    <!-- Code that all your templates share, like a header -->
    {{ block "main" . }}
    <!-- The part of the page that begins to differ between templates -->
    {{ end }} {{ block "footer" . }}
    <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
    {{ end }}
  </body>
</html>
